<p>In the limelight. Broadway Engraved.
<img alt="ts" src="p11reputation.jpg" />
<img alt="broadway" src="p11broadway.png" /></p>
<p>Rocking those asymmetric stripes. Taylor Swift and Sinaloa.
<img alt="ts" src="p01ts.jpg" />
<img alt="sinaloa" src="p01sinaloa.png" /></p>
<p>Taylor Swift inpsiring a generation of psychedelic LP sleeves
using Victor Moscoso.
<img alt="Taylor looking fabulous at the VMA" src="p00VMA2019.png" />
<img alt="VictorMoscoso" src="p00VictorMoscoso.png" /></p>
<p>Triline means Oxford.
<img alt="ts" src="p05tay.jpg" />
<img alt="oxford" src="p05oxford.png" /></p>
<p>That font you see on varsity jackets everywhere? TS wore it first.
It's Princetown.
<img alt="princetown" src="p07princetown.png" />
<img alt="ts" src="p07shakeitoff.png" /></p>
<p>Taylor Swift. Magnificat.
<img alt="ts" src="p12snakes.jpeg" />
<img alt="magnificat" src="p12magnificat.png" /></p>
<p>Adobe Myriad Pro Bold, as worn by Taylor Swift.
<img alt="ts" src="p02tombradley.jpg" />
<img alt="myriad" src="p02myriad.png" /></p>
<p>Sometimes you're a whole font, sometimes you're a single letter
from ITC Honda.
<img alt="ts" src="p03vanity.jpeg" />
<img alt="honda" src="p03ITC-Honda.png" /></p>
<p>Taylor Swift and Arnold Böcklin in elegant noodles.
<img alt="ts" src="p08strappy.jpg" />
<img alt="ab" src="p08arnoldbocklin.png" /></p>
<p>Stencil on Swift.
<img alt="ts" src="p04taystencil.jpeg" />
<img alt="stencil" src="p04stencil.png" /></p>
<p>There are many knock-offs, but only one original. Saphir (Zapf, 1953).
<img alt="ts" src="p06tay.jpeg" />
<img alt="saphir" src="p06saphir.png" /></p>
<p>For when you need to look casual without looking like you need
to look casual: Dom Casual; plaid shirt.
<img alt="ts" src="p09plaid.jpeg" />
<img alt="domcasual" src="p09domcasual.png" /></p>
<p>Big boots, the perfect match for Bottleneck.
<img alt="ts" src="p10boots.png" />
<img alt="bottleneck" src="p10bottleneck.png" /></p>
<p>Only the time-machine incident can explain why
the font is called Futura Black Art Deco Outline.
<img alt="ts" src="p13minidress.jpeg" />
<img alt="ts" src="p13FuturaBlack.png" /></p>
<p>When your outfit is optaymal.
<img alt="ts" src="p14black.jpeg" />
<img alt="ts" src="p14optayma.png" /></p>